.btncentre{
    margin-left: 47%;
    margin-right: 52%;
}
#profile .card{ margin-bottom: 0.8rem !important;}
.tab-content i {
    color: #fff;
}
#doc img{width:21px;}

.slide-menu .nav-unread.badge{position: absolute;top: 8px;
    left: 82%;}
    .side-menu h3{font-size: 10px;}
    .task-list li .task-icon1{overflow: hidden;}
    .transfere {
        float: right;
        margin-top: -1.2rem;
    }
    #transfere .card-header:first-child {
        border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
        display: flow-root;
    }
    /* #checkall .custom-control-label::before {
        left: 23px;
    } */

    #show .modal-footer {
        
        justify-content: center;
        
    }
    button.btn.btn-light.buttons-pdf.buttons-html5 {
        display: none;
    }

    .transferer {
        margin-left: 73% !important;
    }