


@media (max-width: 576px) {
    .justify-content-center.bg-nav  ul.nav{
        display: block;
        overflow: hidden;
    }
    nav.navbar.navbar-expand-lg.navbar-light {
        background: white;
    }
    nav .nav-link img {
        height: 33px;
        position: absolute;
        right: 20px;
        top: 70px !important;
    }
    header {
        width: 100%;
        overflow: hidden;
    }
    .navbar-brand h5 {
        padding-top: 10px;
        text-align: right;
        font-size: 9px;
    }
    .mobilshow{
        display: block!important;
    }
}

